@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  color: var(--background-color-light);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background:linear-gradient(135deg, #2F2F3F, #3A3A5B, #48485F, #4E4E70, #5D5D80); 
  background-size: 400% 400%; 
 
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  letter-spacing: -0.05rem;
}

.businessLink {
  font-weight: bold;
  font-size: 0.95rem;
}
