.validWrapper {
  display: flex;
  margin-top: 80px;
  padding: 40px 100px;
  align-items: center;
  justify-content: center;
}
.validBox {
  max-width: 400px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 60px 30px;
  gap: 20px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.heading {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
}
