.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1130px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.textSection {
  flex: 1;
  padding-right: 3rem;
  max-width: 700px;
}

.textSection h2 {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #1b1d28;
}

.textSection p {
  font-size: 20px;
  line-height: 1.5;
  color: var(--desc-font-color);
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatImage {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1281px) {
  .mainContainer {
    max-width: 1116px;
    padding: 0;
    margin-top: 0;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .textSection {
    padding-right: 0;
    max-width: 100%;
  }

  .textSection h2 {
    font-size: 32px;
    margin-left: 0;
  }

  .textSection p {
    font-size: 18px;
    max-width: 50%;
  }

  .chatImage {
    max-width: 450px;
  }
}

@media (max-width: 1024px) {
  .mainContainer {
    max-width: 900px;
    padding: 1rem 0;
    margin-top: 0;
    flex-wrap: wrap;
  }

  .textSection {
    padding-right: 0;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .textSection h2 {
    font-size: 30px;
  }

  .imageSection {
    justify-content: center;
  }

  .chatImage {
    max-width: 400px;
  }
}

@media (max-width: 961px) {
  .mainContainer {
    max-width: 850px;
    padding: 1rem 5%;
    flex-direction: column;
  }

  .textSection {
    max-width: 100%;
    margin-bottom: 2rem;
    padding-right: 0;
  }

  .textSection h2 {
    font-size: 28px;
  }

  .textSection p {
    font-size: 20px;
    max-width: 100%;
  }

  .imageSection {
    justify-content: center;
  }

  .chatImage {
    max-width: 350px;
  }
}

@media (max-width: 641px) {
  .mainContainer {
    padding: 1rem 5%;
    flex-direction: column;
    align-items: center;
  }

  .textSection h2 {
    font-size: 26px;
  }

  .textSection p {
    font-size: 16px;
    max-width: 100%;
  }

  .chatImage {
    max-width: 300px;
  }
}

@media (max-width: 481px) {
  .mainContainer {
    padding: 0.5rem 10%;
  }

  .textSection h2 {
    font-size: 19px;
  }

  .textSection p {
    font-size: 15px;
    max-width: 100%;
  }

  .chatImage {
    max-width: 280px;
  }
}
