.container {
  padding: 40px 100px;
  margin: 0 auto;
}

.header h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.header p {
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: 1.2fr 1.1fr;
  gap: 40px;
}

.mainPost {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.postImage {
  object-fit: cover;
  border-radius: 20px;
}

.postDetails {
  padding: 20px;
}
.postContent {
  display: flex;
  justify-content: space-between;
}

.tag {
  display: inline-block;
  padding: 2px 8px;
  background-color: #f0f0f0;
  border-radius: 14px;
  margin-right: 10px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.date {
  font-size: 1rem;
  color: #666;
}

.postDetails h3 {
  margin-bottom: 10px;
}

.sidePosts {
  display: flex;
  padding: 30px;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidePost {
  display: flex;
  gap: 10px;

  border-radius: 8px;
  padding: 10px;
}

.sideImageWrapper {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.sidePostImage {
  object-fit: cover;
  border-radius: 8px;
}

.sidePostDetails {
  display: flex;
  flex-direction: column;
}
.sidePostContent {
  display: flex;
}

.readTime {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 5px;
}

.sidePost h4 {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 1281px) {
  .container {
    padding: 30px 80px;
  }
  .header h2 {
    font-size: 1.8rem;
  }
  .posts {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 30px 60px;
  }
  .header h2 {
    font-size: 1.6rem;
  }
  .posts {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 961px) {
  .container {
    padding: 20px 40px;
  }
  .header h2 {
    font-size: 1.5rem;
  }
  .posts {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .mainPost {
    padding: 15px;
  }
  .sidePosts {
    padding: 20px;
  }
}

@media (max-width: 641px) {
  .container {
    padding: 20px 20px;
  }
  .header h2 {
    font-size: 1.4rem;
  }
  .posts {
    gap: 15px;
  }
  .sidePost {
    padding: 8px;
  }
}

@media (max-width: 481px) {
  .container {
    padding: 10px;
  }
  .header h2 {
    font-size: 1.2rem;
  }
  .header p {
    font-size: 0.9rem;
  }
  .posts {
    gap: 10px;
  }
  .sidePost {
    flex-direction: column;
    gap: 5px;
    padding: 5px;
  }
  .sideImageWrapper {
    width: 100%;
    height: 150px;
  }
  .sidePost h4 {
    font-size: 0.9rem;
  }
}